<nav class="sidebar-nav">
    <div class="nav-top">
        <NavLink class="nav-icon-btn" href="/" Match="NavLinkMatch.All">
            <i class="bi bi-house-door-fill"></i>
        </NavLink>

        @* PLACEHOLDER *@
        <button class="nav-icon-btn" disabled>
            <i class="bi bi-list-ul"></i>
        </button>

        <NavLink class="nav-icon-btn" href="/shiftboard_viewonly" Match="NavLinkMatch.Prefix">
            <i class="bi bi-card-text"></i>
        </NavLink>
    </div>
</nav>
