<nav class="sidebar-nav">
    <div class="nav-top">
        <NavLink class="nav-icon-btn" href="/shiftboard" Match="NavLinkMatch.Prefix">
            <i class="bi bi-house-door-fill"></i>
        </NavLink>

        @* PLACEHOLDER *@
        <button class="nav-icon-btn" disabled>
            <i class="bi bi-list-ul"></i>
        </button>

        @* PLACEHOLDER *@
        <button class="nav-icon-btn" disabled>
            <i class="bi bi-card-text"></i>
        </button>
    </div>

    <div class="nav-bottom">
        @* PLACEHOLDER - Logout *@
        <button class="nav-icon-btn" disabled>
            <i class="bi bi-lock"></i>
        </button>
    </div>
</nav>