<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <NavLink class="nav-button" href="/adminview/addResident">
            Opret nyt beboerkort
        </NavLink>

        <NavLink class="nav-button" href="/adminview/EditResident">
            Rediger beboerkort
        </NavLink>

        <NavLink class="nav-button" href="/adminview/EditSpecialResponsibility">
            Rediger særligt ansvar
        </NavLink>
       
    </nav>
</div>

