@inherits LayoutComponentBase
@page "/adminview"

<div class="page">
	<main class="admin-content-box">
		<Slottet.Client.Pages.AdminPages.AdminBoxView />
	</main>

	<aside class="sidebar">
		<AdminSidebarView/>
	</aside>
</div>