.admin-content-box {
    display: flex;
    border: 1px solid #999;
    width: 400px;
    margin-left: 300px;
}

.view-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    justify-content:center;
}

.form-input input {
    display: flex;
    flex-direction: column;
    gap:10px;
    width:400px;

    margin: 15px 0;
    border: 1px solid #999;
    border-radius: 4px;
}

.submit-button {
    padding:5px;
    margin-top:40px;
}
.column-button {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.button-column {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    flex-direction: column;
}
.list-form {
    width:300px;
    height:600px;
    padding:10px;
    border: 1px solid #999;
    border-radius: 4px;
    resize: none;
}

.table-form {
    width: 400px;
    border-collapse: collapse;
    border:2px solid #999;
}

.table-form td {
    border: 2px solid #999;
    padding: 10px;
   
}
.table-layout /*Colum view*/ {
    display: flex;
    justify-content:center;
    gap: 30px;
    margin-top: 20px;
    align-items:flex-start;
}

.selected-row {
    background-color: #bcd;
    font-weight: bold;
    cursor: pointer;
}

.table-form tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}