@page "/adminview/addResident"

<div class="view-box">

	<h2>Opret ny beboer</h2>

	<div class="form-input">

		<input placeholder="Indtast beboer id" />
		<input placeholder="Indtast beboer medicin" />
		<input placeholder="Indtast beboer pn" />
		<input placeholder="Indtast beboer betalingsmetode"/>
		<input placeholder="Indtast beboer handledag"/>

	</div>

	<button class="submit-button" type="button">Opret</button>
</div>


