@page "/adminview/EditSpecialResponsibility"
<div class="view-box">

	<h2>Rediger særligt ansvar</h2>

	<div class="table-layout">
		<table class="table-form">

			<tr>
				<td>Medicin</td>
			</tr>
			<tr>
				<td>Rengøring</td>
			</tr>
			<tr>
				<td>Medicin</td>
			</tr>
			<tr>
				<td>Rengøring</td>
			</tr>
			<tr>
				<td>Medicin</td>
			</tr>
			<tr>
				<td>Rengøring</td>
			</tr>
			<tr>
				<td>Medicin</td>
			</tr>
			<tr>
				<td>Rengøring</td>
			</tr>
			<tr>
				<td>Medicin</td>
			</tr>
			<tr>
				<td>Rengøring</td>
			</tr>
			<tr>
				<td>Medicin</td>
			</tr>
			<tr>
				<td>Rengøring</td>
			</tr>
		
		</table>
		
		<div class="button-column">
			<button class="column-button" type="button">Særligt ansvar</button>
			<button class="column-button" type="button">Opret</button>
			<button class="column-button" type="button">Opdater</button>
			<button class="column-button" type="button">Slet</button>
		</div>
	</div>

	
</div>


