@page "/editResident"
<div class="view-box">

	<h2>Rediger beboer</h2>

	<div class="form-input">

		<input placeholder="Rediger beboer id" />
		<input placeholder="Rediger beboer medicin" />
		<input placeholder="Rediger beboer pn" />
		<input placeholder="Rediger beboer betalingsmetode" />
		<input placeholder="Rediger beboer handledag" />

	</div>

	<button class ="submit-button" type="button">Bekræft</button>
</div>


