@page "/adminview/EditSpecialResponsibility"
<div class="ViewBox">

	<h2>Rediger særligt ansvar</h2>

	<div class="form-input">

		<input placeholder="Liste over særlige ansvar" />
		
		

	</div>

	<button type="button">Særligt ansvar</button>
	<button type="button">Opret</button>
	<button type="button">Opdater</button>
	<button type="button">Slet</button>
</div>

@code {

}
